# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Generated Sources
target/generated-sources/
target/generated-test-sources/

# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr
.eclipse/
.classpath
.project
.settings/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Application output
pdf-output/

# Spring Boot
spring-shell.log
